html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  width: 1200px;
  margin: auto;
  margin-top: 30px;
  border: 1px solid red;
}
.interiorImg,
.varInfo,
.cascadeImgs,
.footer {
  width: auto;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}
.header {
  width: auto;
  border: 1px solid black;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.logo {
  border: 1px solid black;
  display: grid;
  justify-content: center;
}
#largeLogo {
  width: 250px;
  height: 250px;
}
.ctaHeaderSection {
  border: 1px solid black;
  display: grid;
  justify-items: center;
}
.navBar {
  border: 1px solid black;
}
.linksTop,
ul,
a {
  text-decoration: none;
  color: black;
  font-size: 0.9em;
  padding: 5px;
}
.linksTop,
ul {
  list-style-type: none;
  display: flex;
  justify-content: start;
}
.socialSide,
img {
  display: grid;
  justify-content: end;
}
.interiorImg {
  display: grid;
  justify-content: center;
}
.ctaInteriorImg {
  display: grid;
  justify-items: center;
}

.interiorImg {
  background-image: url("./Project Images/interiors/group-of-people-gathering-inside-bar-1058277.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -310px;
  height: 400px;
}
.varInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.infoBoxes {
  border: 1px solid black;
  display: grid;
  justify-content: center;
}
.infoBoxes p {
  border: 1px solid black;
  width: 250px;
  height: 60px;
  overflow: hidden;
}
.tabs {
  display: grid;
  justify-content: center;
  position: relative;
}
.tabs p {
  border: 1px solid black;
  width: 500px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.socialFooter,
img {
  display: inline;
}
.map {
  border: 1px solid black;
  width: 200px;
  height: 150px;

}
.tabItems {
  position: absolute;
  top: 0;
  left: 0;
}
